.intro {
margin: auto;
 width: 50%;
 padding: 10px;
 text-align: center;
}
.gullery {
  margin: auto;
   width: 50%;
   padding: 10px;
   text-align: center;
   height: 100%;
}

h1 {
  font-family: 'Fraunces', serif;
  font-weight: 900;
}

h2 {
  font-family: 'Fraunces', serif;
  font-weight: 700;
}

h3 {font-family: 'Fraunces', serif;}

h4 {font-family: 'Fraunces', serif;}

a {
  color: black;
}
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: black;
}

/* selected link */
a:active {
  color: black; }

.hireme {
  border-radius: 50px;
  padding: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.02);
  text-align: center;
  background-color: white;
  border: none;
  font-size: 14px;
}
